/* style_result.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.result-container {
    width: 60%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
    font-weight: bold;
}

